body {
  font-family: 'Rum Raisin', sans-serif;
}

/* header section */
.headerWrper {
  background: #757370;
  color: #fff;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.navheaderWrper {
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  align-items: center;
  transform: translateY(-20px);
}

.logo {
  /* width: 200px; */
  width: 35px;
  margin-right: 15px !important;
}

.navbar-collapse {
  position: relative;
}

.navbar-nav {
  position: absolute;
  right: 0;
}


/*banner */
.bannerWrp {
  width: 100%;
  height: 600px;
  background: url('./assest/image/living-room-1835923__480.jpg');
  background-size: cover;
}

.dDlex {
  background: radial-gradient(#dddddd00, #757370c8, #757370c3);
  height: 100%;
  align-items: end;
  justify-content: center;
  grid-gap: 50px;
}

.man {
  height: 100% !important;
  width: 335px;
}

.bannerText {
  transform: translateY(-200px) !important;
}

.bannerText>button {
  background: rgb(129, 225, 208);
  color: black;
  padding: 10px 20px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  border-radius: 10px;
}

/*Counter*/
.CounterErp {
  border-bottom: 3px solid #d7d7d7;
}

/*About webinar*/
.aboutWrp {
  margin: 80px 0px !important;
}

.aboutCircle {
  border: 5px solid rgb(224, 224, 224) !important;
  padding: 30px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}

/*four code  subject and single subjects*/
.allsubjuctWrp {
  background: url("./assest/image/webinar-home-pattern.png");
  /* background-size: cover; */
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textdisandheader {
  text-align: left !important;
}

.SignUptodayBtn {
  background: rgb(129, 225, 208);
  color: black;
  padding: 10px 20px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  border-radius: 10px;
  margin-bottom: 40px;
}


/*Invest*/
.investWrp {
  border-bottom: 3px solid #ddd;
}


/*footer*/
.footerlogo {
  width: 150px;
}

.FooteryBtn {
  background: rgb(129, 225, 208);
  color: black;
  padding: 5px 10px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  margin-left: 10px;
}

.ficons {
  font-size: 27px;
  cursor: pointer;
}




/*webnider page web dlide*/
.webdlideImageWrp {
  background: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.630), rgba(0, 0, 0, 0.630)), url("./assest/image/webinar-webinars-top-bg.jpg");
  width: 100% !important;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;


}

.sliderwebinerWrp {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  gap: 90px;

}

.playbtn {
  width: 100px;
  text-align: center;
  position: relative;
  z-index: 2;
}


.playbtn::after {
  position: absolute;
  content: '';
  bottom: -7px;
  top: -7px;
  left: -7px;
  right: -7px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid rgb(129, 225, 208);
  margin: 0px;
  opacity: 1;
  transform-origin: center;
  animation: anim 1s linear infinite;
  z-index: -1;
}

.playbtn::before {
  position: absolute;
  content: '';
  bottom: -7px;
  top: -7px;
  left: -7px;
  right: -7px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid rgb(129, 225, 208);
  margin: 0px;
  opacity: 0.8;
  transform-origin: center;
  animation: anim 1s linear 400ms infinite;
  z-index: -1;
}

/*animation css*/

@keyframes anim {
  from {
    margin: 0px;
    opacity: 1;
  }

  to {
    margin: -15px;
    opacity: 0;
  }
}



.vedio {
  width: 80%;
  height: 80vh;
  position: absolute;
  top: 120px;
  left: 150px;
  z-index: 3;

}

.cross {
  text-align: right;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  text-align: center;
  background: rgb(129, 225, 208);
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

.veidiofram {
  border: 1px solid rgb(129, 225, 208);
  border-radius: 6px;
}

.playIcon {
  font-size: 100px;
  color: rgb(129, 225, 208);
  cursor: pointer;
}

/*SingleInvereter*/
.singleInversterWrper {
  background: url("./assest/image/webinar-home-pattern.png");
  height: fit-content;
  color: #fff;
  text-align: center;
  padding-top: 120px;
}

.inversterIcons {
  font-size: 80px;
  background: rgb(129, 225, 208);
  color: #fff;
  padding: 10px;
}

/*newsWrper*/
.newsHead {
  background: #757370;
  padding: 45px 0px;
  text-align: center;
  color: #fff;
}

/*Singlde news*/
.Blogimage {
  cursor: pointer;
  transition: .3s;
  width: 80%;
}

.Blogimage:hover {
  transform: scale(1.1) !important;
}

/*about us*/

.aboutWrperOne {
  background: linear-gradient(rgba(0, 0, 0, 0.220), rgba(0, 0, 0, 0.220)), url('./assest/image/webinar-about-main-bg.jpg');
  height: 100vh;
  width: 100% !important;
  background-size: cover;
}

.aboutWrperTwo {
  background: url('./assest/image/webinar-about-michael.jpg');
  height: 700px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.aboutbox {
  width: 600px;
  height: fit-content;
  background: rgb(129, 225, 208);
  color: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 50px;
}

.dddd {
  text-align: left;
  padding-left: 10px;
}

.back {
  background: rgb(129, 225, 208) !important;
  border: none;
}

.active {
  color: rgb(129, 225, 208) !important;
}

.naver:hover {
  color: rgb(129, 225, 208) !important;
}

.sideContainer {
  background: rgb(129, 225, 208);
  border-radius: 10px;
}


/*contact*/
.contactFrist {
  background: linear-gradient(rgba(255, 0, 0, 0), #ffffff), url("./assest/image/webinar-contact-main-bg.jpg");
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.sendMessagebtn {
  background: rgb(129, 225, 208);
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.card {
  background: rgb(129, 225, 208);
}

.viewBtn {
  margin: 50px 0px;
  padding: 10px;
  border: none;
}

.one {
  background: rgb(129, 225, 208);
}

@media (max-width:768px) {
  .man {
    width: 200px;
    margin-left: 10px;
  }

  .bannerText {
    transform: translateY(-60px) !important;
    font-size: 18px !important;
    margin-right: 10px;
  }

  .dDlex {
    grid-gap: 15px;
  }

  .bannerWrp {
    height: 400px;
  }

  .footer {
    flex-direction: column;
    align-items: center !important;
    text-align: center;
  }

  .aboutSecend {
    margin-top: 40px;
  }

  .allsubjectrow {
    padding: 10px;
  }

  .singeInverterItems {
    flex-direction: column;
  }

  .aboutbox {
    width: 80%;
    margin: auto;
    padding: 20px;
  }

  .Quis {
    padding: 20px;
  }

  .sideContainer {
    padding: 20px;
    margin-top: 20px;
    height: fit-content !important;
  }

  .vedio {
    left: 20px !important;
    top: 200px;
    width: 90%;
    height: 50vh !important;
  }

}

@media (max-width:991px) {
  .navheaderWrper {
    transform: translateY(0);
    border-bottom: 1px solid rgb(129, 225, 208);
    border-left: 1px solid rgb(129, 225, 208);
    border-right: 1px solid rgb(129, 225, 208);
    padding: 10px 0px;
  }
}

@media (max-width:1040px) {
  .vedio {
    left: 90px;
  }
}